<div class="container">
	<div class="row">
		<div class="col-6">	
			<h2> Uneaten Burgers </h2>
			<ol>
			  	{{#each burgers}}
			    	{{#unless devoured}}
			    		<li>{{burger_name}}
			    		<button class="devoured" data-id="{{this.id}}">DEVOUR IT!</button>
			    	{{/unless}}
			    	</li>
			  	{{/each}}
			</ol>
		</div>

		<div class="col-6">
			<h2> Devoured Burgers </h2>
			<ol>
			  	{{#each burgers}}
			    	{{#if devoured}}
			    	<li>{{burger_name}}
			    	{{/if}}</li>
			  	{{/each}}
			</ol>
		</div>
	</div>
</div>