<div class="container">
	<div class="row justify-content-center">
		<div class="col-12 text-center">
			<h1> EAT DA BURGER </h1>
		</div>
		<div>
			<img src="http://moziru.com/images/burger-clipart-16.jpg" alt="burger" class="img-fluid" height="200" width="200">
		</div>
	</div>

	<div class="row">
		<div class="col-6">	
			<h2 class="text-center"> Uneaten Burgers </h2>
			<ol class="list-group">
			  	{{#each burgers}}
			    	{{#unless devoured}}
			    		<li class="list-group-item">{{burger_name}}
			    		<button class="devoured btn btn-primary" data-id="{{this.id}}">DEVOUR IT!</button>
			    	{{/unless}}
			    	</li>
			  	{{/each}}
			</ol>
		</div>

		<div class="col-6" >
			<h2 class="text-center"> Devoured Burgers </h2>
			<ol class="list-group">
			  	{{#each burgers}}
			    	{{#if devoured}}
			    	<li class="list-group-item">{{burger_name}}
			    	{{/if}}</li>
			  	{{/each}}
			</ol>
		</div>
	</div>

	<div class="row align-items-center">
		<div class="col-6 offset-4 text-center">
			<h2> Add A Burger! </h2>
			<form class="add">  
			 	<div class="form">
			    	<label for="burger">Burger Name: </label>
			   	 	<input type="text" id="burger" name="name">
			   	 	<button type="submit" class="btn btn-secondary submit">Add!</button>
			  	</div>
			</form>
		</div>
	</div>
</div>